.env
.env-example
*.pdf
*.png
*.pyc

data/**/*.jsonl
data/**/*.csv
data/**/*.json

local_data/
model/
wandb/
legacy_notebooks/
reddit_results/
.vscode/
.virtual_documents/
__pychache__/
jupyterlab_GPU/
figures/**
results/**
docker-compose.yml
build.sh
build.sh.save

run_reddit.py
run_redditv2.py
model_experimental.py

sandbox.ipynb
train_reddit.ipynb
raw/
author_profiling_extension/iarpa5/hrs_release_08-14-23/
iarpa5/hrs_release_08-14-23/
lightning_logs/
iarpa5/hrs_release_12-01-23/